@import "tailwindcss";

:root {
  --background: #eafffe;
  --foreground: #575757;
  --autor: rgb(196, 212, 214);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eafffe;
    --foreground: #575757;
    --autor: rgb(196, 212, 214);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

mb-4 {
  margin-right: 10px;
}
.pr-10 {
  margin-left: 2vw;
}

.Autor {
    background-color: var(--autor);
    position: relative;
    margin: 20px 0px;
    padding: 20px;
    text-align: center;
}